/* VARIABLE DECLERATIONS */


//General spinner properties
$width-height: 100px;
$border-width: 15px;

// ls-basic
$ls-basic-background: #dadadb;
$ls-basic-color: #888;

//ls-google-style
$ls-google-style-color1: #26B14C;
$ls-google-style-color2: #3284FF;
$ls-google-style-color3: #FFBB00;

//ls-vibrant
$ls-vibrant-color1: #009933;
$ls-vibrant-color2: #ff6600;
$ls-vibrant-color3: #0099ff;
$ls-vibrant-color4: #ff66cc;
$ls-vibrant-color5: #9900ff;

//ls-square
$ls-square-background: #4286f4;

//ls-square-translate
$square-translate-width-height: 10px;

//ls-square-alternate
$square-alternate-background: #42f483;